{% extends "base.html" %}
{% block title %}Gallerie{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-4">
       <h2>Gallerie</h2>
       <p>Bilder, die bereits koloriert wurden.</p>
    </div>
 </div>

 <div class="container">

    {% for image_original in images_original %}
        {% if image_original in images_processed %}
        <div class="row mb-3">
            <div class="col-6">
                <img src="{{ url_for('static', filename='uploads/' + image_original) }}" class="img-fluid" alt="">
            </div>
            <div class="col-6">
                <img src="{{ url_for('static', filename='processed_images/' + image_original) }}" class="img-fluid" alt="">
            </div>
        </div>
        {% endif %}
    {% endfor %}
        

 </div>


{% endblock %}