{% extends "base.html" %}
{% block title %}Upload{% endblock %}

{% block content %}
   <div class="container">
      <div class="row mt-4">
         <h2>Schwarzweissbild-Kolorierer</h2>
         <p>Lade ein Schwarzweissbild hoch und sieh, wie es von einer KI koloriert würde.</p>
         <p> Maximale Bildgrösse: 2 MB </p>
      </div>
   </div>

   <div class="container">
      <form method=post enctype=multipart/form-data>
         <input type=file name=file onchange="loadFile(event)">
         <input type=submit value=Upload class="btn btn-primary">
      </form>
      <img id="output" alt="" width="50%" height="50%" class="mt-2"/>
   </div>

   {% if data %}
   <div class="container">
      <div class="row">
         <div class="col-6">
            <h3>Original</h3>
            <img src="{{ data.uploaded_img }}" class="img-fluid" alt="">
         </div>
         <div class="col-6">
            <h3>Koloriertes Bild</h3>
            <img src="{{ data.processed_img }}" class="img-fluid" alt="">
         </div>
      </div>
   </div>
   {% endif %}

   <script src="{{ url_for('static', filename='js/index.js') }}"></script>
   {% endblock %}
